.title {
    width: 100%;
    text-align: center;
    font-size: 80px;
    -moz-box-shadow:    3px 3px 5px 6px rgb(99, 56, 56);
    -webkit-box-shadow: 3px 3px 5px 6px rgb(99, 56, 56);
    box-shadow:         3px 3px 5px 6px rgb(99, 56, 56);
  }
  
  
  .scoreSummary{
    width: 100%;
    text-align: center;
   
   
  }
  
  .scoreBoard {
      margin-bottom: 20px;
  }
  
  .heading{
    width:100%;
    margin-bottom: 20px;
  }

  .shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
  }
  
